@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gilroy';
  overflow: hidden;
  position: relative;
  background: linear-gradient(rgba(21, 27, 48, 0.97), rgba(21, 27, 48, 0.97)),
    url(https://i.pinimg.com/originals/05/9c/6f/059c6f6f28f86e82367da81344f89206.png);
  background-size: cover;
}

.hack-box-container {
  position: relative;
  border-radius: 10px;
  outline: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 670px;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: -120px;
}

.fa-gamepad {
  font-size: 35px;
  color: rgb(142, 142, 142);
}

.info-container h2 {
  font-size: 25px;
  color: rgb(84, 255, 164);
  text-shadow: 0 0 2.1px rgb(127, 255, 191);
}

.info-container p {
  font-size: 15px;
  color: rgb(142, 142, 142);
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 27, 33);
}

.hack-box {
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 580px;
  height: 580px;
  background-color: rgb(22, 40, 52);
  display: flex;
}

.lock-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 580px;
  height: 580px;
  z-index: 999;
}

.timer-container {
    background-color: rgb(15, 27, 33);
    display: flex;
    width: 100%;
    height: 10px;
    margin-top: auto;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  

.timer-progress-bar {
  bottom: 100px;
  background-color: orangered;
  width: 100%;
  height: 100%;
  transition: width 1s linear;
}

.position-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 580px;
  height: 580px;
}

.lose-message {
  gap: 10px;
  margin-top: -50px;
  margin-bottom: 15px;
  margin-left: 475px;
  display: none;
  color: white;
  padding: 0px 18px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(91, 20, 37);
}

.win-message {
  gap: 10px;
  margin-top: -50px;
  margin-bottom: 15px;
  margin-left: 475px;
  display: none;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 125, 115);
}

.lose-message p,
.win-message p {
  font-size: 10.5px;
  font-weight: 500;
}

.cube {
  width: 110px;
  height: 100px;
  border: 1.5px solid #fff;  
  background:
  linear-gradient(to right, rgba(255, 255, 255, 0.74) 1px, transparent 1px) 2px 2px,
  linear-gradient(to right, rgba(255, 255, 255, 0.74) 1px, transparent 1px) 2px calc(100% - 2px),
  linear-gradient(to left, rgba(255, 255, 255, 0.74) 1px, transparent 1px) calc(100% - 2px) 2px,
  linear-gradient(to left, rgba(255, 255, 255, 0.74) 1px, transparent 1px) calc(100% - 2px) calc(100% - 2px),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.74) 1px, transparent 1px) 2px 2px,
  linear-gradient(to bottom, rgba(255, 255, 255, 0.74) 1px, transparent 1px) calc(100% - 2px) 2px,
  linear-gradient(to top, rgba(255, 255, 255, 0.74) 1px, transparent 1px) 2px calc(100% - 2px),
  linear-gradient(to top, rgba(255, 255, 255, 0.74) 1px, transparent 1px) calc(100% - 2px) calc(100% - 2px);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}

.empty {
  background: none;
  border: none;
}

.cuber {
  background-color: var(--cube-color-red, rgb(229, 28, 28));
  box-shadow: 0px 10px 0px var(--cube-color-red-shadow, rgb(96, 35, 34));
}

.cubeg {
  background-color: var(--cube-color-green, rgb(137, 218, 61));
  box-shadow: 0px 10px 0px var(--cube-color-green-shadow, rgb(79, 122, 59));
}

.cubeb {
  background-color: var(--cube-color-blue, rgb(82, 156, 209));
  box-shadow: 0px 10px 0px var(--cube-color-blue-shadow, rgb(40, 71, 86));
}

.instructions-container {
  color: rgb(84, 255, 164);
  text-shadow: 0 0 2.1px rgb(127, 255, 191);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 800px;
  z-index: 0;
}

#instructions-toggle {
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}

#instructions-toggle:hover {
  scale: 1.2;
}

#instructions-content {
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: none;
  display: none;
  top: 100%;
}

#instructions-content.active {
  display: block;
}

.other-container {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 10px;
  margin-top: 10px;
}
.home-button {
  background-color: #3292ec;
  border-radius: 100px;
  box-shadow: rgba(37, 138, 227, 0.2) 0 -25px 18px -14px inset,rgba(37, 138, 227, 0.2) 0 1px 2px,rgba(37, 138, 227, 0.2) 0 2px 4px,rgba(37, 138, 227, 0.2) 0 4px 8px,rgba(37, 138, 227, 0.2) 0 8px 16px,rgba(37, 138, 227, 0.2) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-button:hover {
  box-shadow: rgba(72, 147, 233, 0.35) 0 -25px 18px -14px inset,rgba(72, 147, 233, 0.35) 0 1px 2px,rgba(72, 147, 233, 0.35) 0 2px 4px,rgba(72, 147, 233, 0.35) 0 4px 8px,rgba(72, 147, 233, 0.35) 0 8px 16px,rgba(72, 147, 233, 0.35) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}